<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB7zxqEulu5I0ksPHJ4jaxT3ype_sACWK8</string>
	<key>GCM_SENDER_ID</key>
	<string>300092331124</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.learningapp</string>
	<key>PROJECT_ID</key>
	<string>online-leraning-app</string>
	<key>STORAGE_BUCKET</key>
	<string>online-leraning-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:300092331124:ios:761efbfd751ed2c4e1ad21</string>
</dict>
</plist>